<div class="auth_wrapper">
% if auth_title:
  <h2>${auth_title}</h2>
% endif
  <form action='alogin' method="post" id="login_form" class="auth_form">
    <div class="form_row">
      <input placeholder="Email address" type="text" name="username" id="top" />
    </div>
    <div class="form_row">
      <input placeholder="Password" type="password" name="password" id="bottom" />
    </div>
    <div id="msg">
% if msg:
${msg}
% endif
    </div>
    <input type="submit" class="submit" value="Log in" />
    <div class="forgot">
      <a href="forgot_password">forgot password</a>
    </div>
  </form>
</div>
